page-settings {
    .btns{
        border-color: white;
        color: white;
     }
     
    .default{
        background-color: color($colors, clearsky);
        .list{
            ion-item{
             background-color: color($colors, clearsky);
             color: white;
            }
         }
    }
    .evening{
        background-color: color($colors, evening);
        color: white;
        .list{
            ion-item{
             background-color: color($colors, evening);
             color: white;
            }
        
         }
         
    }
    .clearSky{
        background-color: color($colors, clearsky);
        color: white;
        .list{
            ion-item{
             background-color: color($colors, clearsky);
             color: white;
            }
         }
    }

    .rainy{
        background-color: color($colors, rainy);
        color: white;
        
        .list{
            ion-item{
             background-color: color($colors, rainy);
             color: white;
            }
         }
    }
}
